$media-queries: true !default;

@import "base/fontface";

// Variables used in project
@import "variables/layout";
@import "variables/mediaquery";
@import "variables/colors";
@import "variables/typography";
@import "variables/zindex";
@import "variables/border-style";

// Mixins used in project
@import "mixins/rems";
@import "mixins/respondto";
@import "mixins/quantity";
@import "mixins/animations";
@import "mixins/container";
@import "mixins/clearfix";
@import "mixins/text";
@import "mixins/heading";
@import "mixins/btn-reset";
@import "mixins/button";

// Set default static values and define fonts
@import "base/normalize";
@import "base/basic";

// Component styles
@import "components/header";
@import "components/nav-s";
@import "components/nav-m";
@import "components/trigger";
@import "components/tools";
@import "components/footer";
@import "components/buttons";
@import "components/button-groups";
@import "base/helper";
