$off-white: #fbfbfb;
$gray-lightest: #f9f9f9;
$gray-lighter: #f4f4f4;
$gray-lighter-alt: #f0f0f0;
$gray-light: #eeeeee;

$gray-alt: #ececec;
$gray-colorblock: #e7e7e7;
$gray-medium: #dcdcdc;
$gray-medium-alt: #b2b2b2;
$gray-medium-dark: #999;

$gray-dark: #737373;
$gray-darker: #5c5c5c;
$gray-darkest: #454545;
$gray-black: #333333;

$blue-lighter: #0889d3; // Not accessible with small text
$blue: #077cc0;
$blue-darker: #096ab0;
$blue-darkest: #05558e;
$blue-black: #08457a;
$blue-brand: #0054a3;

$red: #e31837;
$red-dark: #c60e32;

$white: #fff;
$silver: #bdc3c7; // realtime
$golden: #e29c45; // realtime
$yellow: #fdba2f; // brand - Not accessible with text
$orange: #f6871f; // brand - Not accessible with text
$purple-gradient-dark: #2b3056;
$purple-gradient-mid: #4c4679;
$purple-gradient-light: #472f3c;

// Alert Colors
$success-dark: #008040;
$success-light: #eef7ea;

$info-dark: $blue-darker;
$info-light: #eaf7ff;

$warning-dark: #cf3e01;
$warning-light: #fef8f6;

$error-dark: $red-dark;
$error-light: #fff4f6;

$disabled-dark: $gray-dark;
$disabled-light: $gray-lighter;

$alerts: (
  // background-color, border-color, color
    success: ($success-light, #c1e2b3, $success-dark),
  info: ($info-light, #9edaff, $info-dark),
  warning: ($warning-light, #f6c2b1, $warning-dark),
  error: ($error-light, #ffa8b7, $error-dark),
  disabled: ($disabled-light, #cecece, $disabled-dark)
);

// Service Colors
$bus-blue: #0076ce;
$bus-purple: #c129b9;
$bus-violet: #675dc6;
$bus-teal: #004e5a;
$bus-red: #f63440;
$bus-green: #64a70b;
$bus-darkblue: #57c1e9;
$bus-chartreuse: #98cb4f;
$bus-turquoise: #00a19b;
$bus-yellow: #ffff00;
$bus-lt-purple: #675dc6;

$lr-orange: #f79239;
$lr-yellow: #ffcd00;
$lr-lime: #c3d500;
$lr-green: #008348;
$lr-kelly-green: #4d9c2d;
$lr-plum: #552683;
$lr-purple: #9f26b4;
$lr-red: #ee3e33;
$lr-sky-blue: #57c1e9;
$lr-blue: #0075be;
$lr-teal: #009daa;
$lr-gold: #f6b221;

$service: (
  bus-local: $bus-blue,
  bus-limited: $bus-purple,
  bus-boulder: $bus-teal,
  bus-express: $bus-red,
  bus-regional: $bus-green,
  bus-skyride: $bus-darkblue,
  bus-cnr: $bus-chartreuse,
  bus-mall: $bus-lt-purple,
  bus-metro: $bus-turquoise,
  bus-flatiron: #1e4286,
  bus-flatiron-alt: #f5a81c,
  a-line: $lr-sky-blue,
  b-line: $lr-kelly-green,
  c-line: $lr-orange,
  d-line: $lr-green,
  e-line: $lr-plum,
  f-line: $lr-red,
  g-line: $lr-gold,
  h-line: $lr-blue,
  l-line: $lr-yellow,
  n-line: $lr-purple,
  r-line: $lr-lime,
  w-line: $lr-teal,
);

$broncos: #fb4f14;
$broncos-alt: #024;
$rockies: #336;
$rockies-alt: #c0c0c0;
$cu: #cfb87c;
$cu-alt: #000;
$csu: #00674e;
$csu-alt: #b38808;
$raceforcure: #f238a6;
$raceforcure-alt: #ab035c;
$bolderboulder: #000;
$bolderboulder-alt: #fd0;
$ski: $blue-darker;
$ski-alt: #0b8fcf;

// Flatiron Flyer
$ff1: #1b75bb;
$ff2: #f36f28;
$ff3: #8cc63e;
$ff4: #91268f;
$ff5: #ed1c24;
$ff6: #1f4285;
$ff7: #ffde17;
$ff1-lt: #c6ddee;
$ff2-lt: #fcdbca;
$ff3-lt: #e3f1cf;
$ff4-lt: #e4c9e3;
$ff5-lt: #fbc7c9;
$ff6-lt: #c7d0e1;
$ff7-lt: #fdf2b0;

$bus-bridges: #ff00ff;
$bustang: #6e3388;
$bustang-west: #14a9e1;
$bustang-south: #ec892d;
$bustang-east: #4ab549;
