$off-white: #fbfbfb;
$gray-lightest: #f9f9f9;
$gray-lighter: #f4f4f4;
$gray-lighter-alt: #f0f0f0;
$gray-light: #eeeeee;

$gray-alt: #ececec;
$gray-colorblock: #e7e7e7;
$gray-medium: #dcdcdc;
$gray-medium-alt: #b2b2b2;
$gray-medium-dark: #999;

$gray-dark: #737373;
$gray-darker: #5c5c5c;
$gray-darkest: #454545;
$gray-black: #333333;

$blue-lighter: #089fd6;
$blue: #007fae;
$blue-darker: #016f98;
$blue-darkest: #00516f;

$red: #f43e3e;
$red-dark: #C62828;

$white: #fff;
$silver: #BDC3C7; //realtime
$golden: #e29c45; //realtime
$orange: #f5a81c;
$purple-gradient-dark: #2B3056;
$purple-gradient-mid: #4C4679;
$purple-gradient-light: #472F3C;


// Alert Colors
$success-dark: #008040; //#27ae60
$success-light: #eef7ea;

$info-dark: $blue-darker; // $blue
$info-light: #eef7fb;

$warning-dark: #cf3e01; //#e67e22
$warning-light: #fef8f6;

$error-dark: $red-dark; // $red
$error-light: #faf2f2;

$disabled-dark: $gray-dark;
$disabled-light: $gray-lighter;

$alerts: (
  //background-color, border-color, color
  success:($success-light, #c1e2b3, $success-dark),
  info:($info-light, #b0daec, $info-dark),
  warning:($warning-light, #f6c2b1, $warning-dark),
  error:($error-light, #e5bbbb, $error-dark),
  disabled:($disabled-light, #cecece, $disabled-dark)
);


// Service Colors
$bus-blue: #0076ce; //#008FBF; updated 12/30/15
$bus-purple: #C129B9;
$bus-violet: #675DC6; //#665ec7; updated 1/17/17
$bus-teal: #004E5A;
$bus-red: #F63440;
$bus-green: #64A70B; //#00833F; updated 12/30/15
$bus-darkblue: #57c1e9; //#003DA7; updated 12/30/15
$bus-chartreuse: #98cb4f;
$bus-turquoise: #00a19b;
$bus-yellow: #ffff00;
$bus-lt-purple: #675DC6;


$lr-orange: #f79239;
$lr-yellow: #ffcd00;
$lr-lime: #c3d500;
$lr-green: #008348;
$lr-kelly-green: #4d9c2d;
$lr-plum: #552683;
$lr-purple: #9f26b4;
$lr-red: #ee3e33;
$lr-sky-blue: #57c1e9;
$lr-blue: #0075be;
$lr-teal: #009daa;
$lr-gold: #f6b221;

$service: (
  bus-local: $bus-blue,
  bus-limited: $bus-purple,
  bus-boulder: $bus-teal,
  bus-express: $bus-red,
  bus-regional: $bus-green,
  bus-skyride: $bus-darkblue,
  bus-cnr: $bus-chartreuse,
  bus-mall: $bus-lt-purple,
  bus-metro: $bus-turquoise,
  bus-flatiron: #1e4286,
  bus-flatiron-alt: #f5a81c,

  a-line: $lr-sky-blue,
  b-line: $lr-kelly-green,
  c-line: $lr-orange,
  d-line: $lr-green,
  e-line: $lr-plum,
  f-line: $lr-red,
  g-line: $lr-gold,
  h-line: $lr-blue,
  l-line: $lr-yellow,
  n-line: $lr-purple,
  r-line: $lr-lime,
  w-line: $lr-teal
);


$broncos: #FB4F14;
$broncos-alt: #002244;
$rockies: #333366;
$rockies-alt: #C0C0C0;
$cu: #CFB87C;
$cu-alt: #000000;
$csu: #00674e;
$csu-alt: #b38808;
$raceforcure: #f238a6;
$raceforcure-alt: #ab035c;
$bolderboulder: #000000;
$bolderboulder-alt: #FFDD00;
$ski: $blue-darker;
$ski-alt: #0B8FCF;

// Flatiron Flyer
$ff1: #1b75bb;
$ff2: #f36f28; //fail 2.95
$ff3: #8cc63e; //fail 2.05
$ff4: #91268f;
$ff5: #ed1c24; //large pass 4.38
$ff6: #1f4285;
$ff1-lt: #C6DDEE;
$ff2-lt: #FCDBCA;
$ff3-lt: #E3F1CF;
$ff4-lt: #E4C9E3;
$ff5-lt: #FBC7C9;
$ff6-lt: #C7D0E1;
