$tradegothic-stack      : "TradeGothic", Impact, Haettenschweiler, "Franklin Gothic Bold", Charcoal, "Helvetica Inserat", "Bitstream Vera Sans Bold", sans-serif;
$proxima-stack          : "ProximaNova", Helvetica, Arial, sans-serif;
$proximabold-stack      : "ProximaNovaBold", Helvetica, Arial, sans-serif;
$helvetica-stack        : Helvetica, Arial, sans-serif;

$fontstack-bold         : $proximabold-stack;
$fontstack-regular      : $proxima-stack;
$fontstack-alt   		: $tradegothic-stack;
$fontstack-default      : $helvetica-stack;

$global-letter-spacing: 0.08rem;
