@mixin shine {
  position: relative;
  &:after {
    content: '';
    opacity: 0;
    position: absolute;
    top: -5px;
    right: 0;
    bottom: -5px;
    left: 0;
    background: $white;
    animation: animateshine 4s linear infinite;
  }
  .content--colorblock &:after {
    background: $gray-lighter;
  }
  .content--colorblock + .content--colorblock &:after {
    background: darken($gray-lighter, 5%);
  }

}

@keyframes animateshine {
  0% {
    opacity: 0;
    width: 0;
  }
  50% {
    opacity: .85;
  }
  100% {
    opacity: 0;
    width: 100%;
  }
}

.animation {
  opacity: 0;
}

.animation.animated {
  opacity: 1;
}

.lt-ie10 .animation,
.lt-ie9 .animation,
.no-js .animation {
  opacity: 1;
}

// Animate Circle Border
@keyframes circle-border {
  0% {
    box-shadow: 40px -40px 0 5px $white, -40px -40px 0 5px $white, -40px 40px 0 5px $white, 40px 40px 0 5px $white, 0 0 0 5px $white;
  }
  25% {
    box-shadow: 0 -90px 0 5px $white, -40px -40px 0 5px $white, -40px 40px 0 5px $white, 40px 40px 0 5px $white, 0 0 0 5px $blue;
  }
  50% {
    box-shadow: 0 -90px 0 5px $white, -90px 0px 0 5px $white, -40px 40px 0 5px $white, 40px 40px 0 5px $white, 0 0 0 5px $blue;
  }
  75% {
    box-shadow: 0 -90px 0 5px $white, -90px 0px 0 5px $white, 0px 90px 0 5px $white, 40px 40px 0 5px $white, 0 0 0 5px $blue;
  }
  100% {
    box-shadow: 0 -90px 0 5px $white, -90px 0px 0 5px $white, 0px 90px 0 5px $white, 90px 40px 0 5px $white, 0 0 0 5px $blue;
  }
}

