.header {
    width: 100%;
    background-color: $gray-light;
    .header__logo {
        float: left;
        background-color: $red;
        color:$white;
        font-size:1.3em;
        a {
            display: block;
        }
    }
    .header__logo, .header__logo img {
        padding: 0;
        border: none;
        max-width: 115px;
        width:auto;
        @include rem(height, 4);
        @include respond-to($break-s) {
            @include rem(height, 6);
        }
    }
}

.header__nav{
    @include container;
    @include respond-to($break-m) {
        height: 6em;
        position: relative;
    }
    ul {
        margin-left: 0;
        list-style-type: none;
    }
    ul.menu-level-2 li a:before {
        content: none;
    }
}

.header__nav-primary,
.header__nav-secondary {
    margin-left: 0;
    margin-bottom: 0;
    ul {
        margin-bottom: 0;
    }

    .header__nav-btn {
        &:hover,
        &:focus {
            color: $white;
        }
    }

    ul {
        margin: 0;
    }
}

.header__controls {
    @include rem(height, 4);
    @include respond-to($break-s) {
        @include rem(height, 6);
    }
    @include respond-to($break-m) {
        height: auto;
        position: absolute;
    }
}

.header__icons {
    @include respond-to(0, $tweak-to-m-1) {
        display: none;
    }
    position:relative;
    width:161px;
    margin: 28px 5px 0 0;
    float: right;
    list-style-type: none;

    @include respond-to($tweak-m-1) {
        margin-right:40px;
        width:auto;
    }

    li {
        display: inline-block;
        position: relative;
        a {
            display:block;
            background-position:center bottom;
            background-size: contain;
            background-repeat: no-repeat;
            opacity: 1;
            color: transparent;
            @include transition();
            &:hover,
            &:focus {
                opacity: 0.7;
            }
            &:before {
                content: none;
            }
        }
    }
    .header__icons--bus {
        width: 45px;
        height:45px;
    }

    .header__icons--lightrail {
        width: 45px;
        height:45px;
    }

    .header__icons--skyride {
        width: 45px;
        height:45px;
    }

}
