.i--footer-accessibility:before {background-image: url('../images/svg/footer-accessibility.svg');}
.i--footer-logo {background-image: url('../images/svg/footer-logo.svg');}
.i--header-bus {background-image: url('../images/svg/header-bus.svg');}
.i--header-rail {background-image: url('../images/svg/header-rail.svg');}
.i--header-search {background-image: url('../images/svg/header-search.svg');}
.i--header-skyride {background-image: url('../images/svg/header-skyride.svg');}
.i--nav-accessibility:before {background-image: url('../images/svg/nav-accessibility.svg');}
.i--nav-bikenride:before {background-image: url('../images/svg/nav-bikenride.svg');}
.i--nav-bus:before {background-image: url('../images/svg/nav-bus.svg');}
.i--nav-discounts:before {background-image: url('../images/svg/nav-discounts.svg');}
.i--nav-fares:before {background-image: url('../images/svg/nav-fares.svg');}
.i--nav-fastracks-map:before {background-image: url('../images/svg/nav-fastracks-map.svg');}
.i--nav-fastracks:before {background-image: url('../images/svg/nav-fastracks.svg');}
.i--nav-howtoride:before {background-image: url('../images/svg/nav-howtoride.svg');}
.i--nav-mobile:before {background-image: url('../images/svg/nav-mobile.svg');}
.i--nav-mobileticketing:before {background-image: url('../images/svg/nav-mobileticketing.svg');}
.i--nav-parking:before {background-image: url('../images/svg/nav-parking.svg');}
.i--nav-parknride:before {background-image: url('../images/svg/nav-parknride.svg');}
.i--nav-projects:before {background-image: url('../images/svg/nav-projects.svg');}
.i--nav-purchase:before {background-image: url('../images/svg/nav-purchase.svg');}
.i--nav-rail:before {background-image: url('../images/svg/nav-rail.svg');}
.i--nav-rideralerts:before {background-image: url('../images/svg/nav-rideralerts.svg');}
.i--nav-schedule-bus:before {background-image: url('../images/svg/nav-schedule-bus.svg');}
.i--nav-schedule-rail:before {background-image: url('../images/svg/nav-schedule-rail.svg');}
.i--nav-schedule-skyride:before {background-image: url('../images/svg/nav-schedule-skyride.svg');}
.i--nav-schedule:before {background-image: url('../images/svg/nav-schedule.svg');}
.i--nav-skyride:before {background-image: url('../images/svg/nav-skyride.svg');}
.i--nav-smartcard:before {background-image: url('../images/svg/nav-smartcard.svg');}
.i--nav-system-map:before {background-image: url('../images/svg/nav-system-map.svg');}
.i--social-facebook:before {background-image: url('../images/svg/social-facebook.svg');}
.i--social-twitter:before {background-image: url('../images/svg/social-twitter.svg');}
.i--social-youtube:before {background-image: url('../images/svg/social-youtube.svg');}
.i--tools-locatestop:before {background-image: url('../images/svg/tools-locatestop.svg');}
.i--tools-next-ride:before {background-image: url('../images/svg/tools-nextride.svg');}
.i--tools-rideralerts:before {background-image: url('../images/svg/tools-rideralerts.svg');}
.i--tools-schedulefinder:before {background-image: url('../images/svg/tools-schedulefinder.svg');}
.i--tools-toolsmenu {background-image: url('../images/svg/tools-toolsmenu.svg');}
.i--tools-tripplanner:before {background-image: url('../images/svg/tools-tripplanner.svg');}
