////
/// Service Alert
////

.callout {
  .callout__inner {
    @include clearfix;
  }

  .callout__content {
    @include clearfix;
  }

  &.callout--expandable .js-expander {
    padding: 0.75rem 0;
  }

  .callout__item {
    margin-bottom: 1.5rem;

    &:last-child {
      margin-bottom: 0;
    }
  }

  .field--name-title {
    @include text-bold;
  }

  .field--name-body {
    p {
      font-size: 0.88rem;
      margin-bottom: 0;
    }
  }

  .callout__heading button {
    @include text-bold;
  }

  .field--name-field-link a {
    font-size: 0.88rem;
    font-weight: bold;
  }

  &.single {
    .callout__item {
      text-align: center;
    }

    &.callout--standard {
      .callout__heading {
        display: none;

        button {
          cursor: default;
        }

        button:hover {
          text-decoration: none;
        }
      }

      .callout__inner--list {
        padding-top: 0.75rem;
      }
    }

    &:not(.callout--standard) {
      button.js-expander {
        padding-bottom: 0.25rem;
      }
      .field--name-field-link {
        a {
          display: block;
          color: $white;
        }
      }

      .field--name-title {
        display: none;
        margin: 0;
      }
    }
  }

  &.multiple {
    .callout__heading {
      display: block;
      text-align: center;
    }

    .field--name-field-link a {
      text-decoration: underline;
    }
  }

  &.callout--standard {
    .callout__content {
      display: block;
    }

    .field--name-body p {
      color: $gray-black;
    }

    .field--name-field-link {
      a {
        margin-top: 0;
        text-decoration: underline;
      }
    }
  }

  &.callout--emergency {
    .callout__heading button {
      &:before {
        content: ' ';
        width: 1.88rem;
        height: 1.88rem;
        display: inline-block;
        margin-right: 5px;
        background-position: center;
        background-repeat: no-repeat;
        vertical-align: middle;
        margin-top: -5px;
        background-size: 25px;
      }
    }

    .callout__close {
      color: $white;
      opacity: 1;
    }

    .field--name-field-link a {
      color: $white;
    }
  }
}
